.heaading{
    text-align: center;
}


.about{
    display: block;
    margin: 2rem 6rem 0 7rem;
    border: 1px solid black;
    border-radius: 3rem;
    background-color: #dab594;
    width: 80%;
    text-align: center;
    padding: 1px 0 4rem 0;
}


.text{
    text-align: justify;
    font-size: 18px;
    padding: 1px 5px 0 5px;
    margin: 0 20px 2px 20px;
    word-spacing: 6px;
}

@media only screen and ( max-width:900px) and (min-width:600px){
    .about{
        margin: 0px 4rem 0 4rem;
    }

    .text{
        font-size: 15px;
    }
}

@media only screen and ( max-width:600px) and (min-width:300px){
    .about{
        margin: 0 1rem;
        width: 92%;
    
    }
    .text{
        font-size: 15px;
    }
}