/* Navbar parent */
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #2C3E50;
    height: 63px;
}

/* logo section */
.logo{
    width: 23%;
    height: 100%;
    display: flex;
}
/* logo first news */

.avs14{
    height: 100%;
    width: 57%;
    margin: 0px -61px 0px -15px;

}
/* logo of first news */
.ic2465{
    overflow: hidden;
    width: 100%;
    height: 320%;
    margin: -59px -38px;
}

/* first news heading */
.acs12{
width: 53%;
}


.fN1{
    color: #fcfcfc;
    text-transform: uppercase;
    margin: 15px 5px;
    position: absolute;
}

/* nava bar  */

.nav1225{
    width: 80%;
}
/*  */
/* icon logo */
#icon1{
    width: 10px;
    height: 10px;
    display: none;
}
/* navbar ul  */
.nav12{
    display: flex;
    flex-direction: row;
    transition: all .5s;
}

/* navbar list */
.navli{
    margin: 0px 9px;
    padding: 0px 11px;
    list-style: none;
    transition: 1s;

}
.navli:hover{
    background-color: #376cdf;

}

/* navbar links */
.navlink{ text-decoration: none;
    color: whitesmoke;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    transition: 1s;

}
.navlink:hover{
    color: black;
}









@media (max-width:1203px){
    /*nav bar parent div  */

 .navbar{
    flex-direction: row;
    transition: all .5s;
 }
 /* logo */

.logo{
    width: 45%;
}


/* logo div */
.avs14{
    width: 50%;
}
/* logo */
 .ic2465{
    margin: -59px -62px;
 }

 
/* first news */
 .acs12{
width: 50%;
 }
 .fN1{
    font-size: 33px;
    margin: 15px -35px;
 }

.nav1225{
    width: 55%;
}

 .navlink{
    color: #fcfcfc;
}

.icon-logo{
    display: flex
}
 .newslogo{
    width:60% ;
 }

#icon1{
    display: block;
    color: white;
    text-align: right;
    height: 30px;
    width: 100%;
    margin: 22px 2px 9px -8px;

}


 
.nav12{
    display: none;
    margin: 0px 0px;
    width: 21%;
    text-align: center;
    padding: 0px;
    position: absolute;
    left: -100%;
   
    
   
}

.navli{
    width: 100%;
    margin: 6px 0px;
    padding: 10px 0;

}




.navbar:hover .nav12{
    display: block;
    background-color: #2C3E50;
    left: -4px;
    height: 100vw;
    border: 2px solid black;
    margin: 2.5px;
}
}


@media (max-width:970px){

    .logo{
width: 50%;
    }

    .ic2465{
        margin: -59px -44px;
    }

    .fN1{
margin: 15px -15px;
    }

 .nav12{width: 35%;}   
}


@media (max-width:700px){
    .nav12{width: 38%;}  
    
    .ic2465{
        margin: -58px -25px;
    }

    .fN1{
        margin: 15px 10px;
    }


   }
  

   @media (max-width:619px) {
   
   .logo{
    width: 65%;
   }
    .ic2465{
        margin: -58px -11px;
    }

    .fN1{
        margin: 15px 28px;
    }


    #icon1{
        margin: 22px 2px 9px -12px;
    }
   }



@media (max-width:500px){

    .ic2465{
        margin: -58px -5px;
    }

    .fN1{
        margin: 15px 38px;
    }

    .nav12{width: 40%;}   
   }
   
   @media (max-width:400px){
    .navbar{
        width: 100%;
    }
.logo{
width: 70%;

}
.acs12{
    width: 30%;
}
    .ic2465{
        
    }

    .fN1{

    }
    .nav12{width: 45%;}   
   
   .navbar:hover .nav12{
    display: block;
    background-color: #2C3E50;
    left: 1px;
    height: 100pc;
}
   }
   
@media (max-width:300px){
    *{
        display: none;
    }
}