#mybox{
    width: 80%;
  
    height: 289px;
    border: solid rgb(214, 216, 111);
}

.btn{
    margin: 10px;
    background-color: #3a3a45;
    color: #e6eaee;
    float: left;
    height: 26px;

}

.summary{
    margin-top: 2.5rem;
    padding: 2px;
}


@media only screen and (max-width:700px)and (min-width :573px){
.head{
    font-size: 30px;

}
    #mybox{
        width: 94%;   
    }
}

@media only screen  and (max-width:573px) and (min-width:469px){
    .head{
        font-size: 25px;
    }

    #mybox{
        width: 90%;
    }
}

@media only screen and (max-width:469px) and (min-width:378px){
    .head{
        font-size: 19px;
    }

    #mybox{
        width: 90%;
    }
}


@media only screen and (max-width:378px) and (min-width:300px){
   
   
    .head{
        margin-left: 10px;
        font-size: 18px;
    }

    #mybox{
        width: 100%;
    }
}