.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav{
  width: 100vw;
  height: 10px;
}

.textarea{
  margin-left: 3rem;
  padding: 2px 25px 2px 25px;
}

@media only screen and (max-width:400px ) and (min-width:378px){
  .textarea{
    margin-left: 2rem;
    padding: 2px 20px 2px 20px;
  }
}

@media only screen and (max-width:378px ) and (min-width:300px){
  .textarea{
    margin-left: 10px;
    padding: 0px 16px 6px 6px;

  }
}
